on:
  workflow_call:
    inputs:
      skip-pypi-test:
        type: boolean
        default: false
      test-action:
        type: string
      test-os-list:
        type: string
        default: '["ubuntu-latest", "macos-latest", "windows-latest"]'
      test-python-versions:
        type: string
        default: '["3.12", "3.13", "3.14"]'
      vjer-local:
        type: boolean
        default: false
      vjer-version:
        type: string
        default: latest

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  UNIT_TEST_DIR: test_results

jobs:
  test:
    runs-on: ${{ matrix.os }}
    steps:
      - name: Run Vjer test
        uses: arisilon/shared-actions/.github/actions/vjer@main
        with:
          action: test
          os: ${{ matrix.os }}
          pyproject-build: true
          python-version: ${{ matrix.python-version }}
          vjer-local: ${{ inputs.vjer-local }}
          vjer-version: ${{ inputs.vjer-version }}
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(inputs.test-os-list) }}
        python-version: ${{ fromJSON(inputs.test-python-versions) }}

  publish-test-results:
    name: Publish tests results
    needs: test
    runs-on: ubuntu-latest
    if: always()
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(inputs.test-os-list) }}
        python-version: ${{ fromJSON(inputs.test-python-versions) }}
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v7
        with:
          pattern: test_results-${{ matrix.os }}-${{ matrix.python-version }}
          merge-multiple: true
          path: ${{ env.UNIT_TEST_DIR }}
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          check_name: Test Results (${{ matrix.os }}, Python ${{ matrix.python-version }})
          files: "${{ env.UNIT_TEST_DIR }}/**/*.xml"
    permissions:
      checks: write
      issues: write
      pull-requests: write

  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Run Vjer build
        uses: arisilon/shared-actions/.github/actions/vjer@main
        with:
          action: build
          os: ubuntu-latest
          pyproject-build: true
          python-version: 3.12
          vjer-local: ${{ inputs.vjer-local }}
          vjer-version: ${{ inputs.vjer-version }}

  install-test:
    needs: build
    uses: ./.github/workflows/install-test.yaml
    if: inputs.test-action != ''
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
      test-action: ${{ inputs.test-action }}
      test-dir: tests
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(inputs.test-os-list) }}
        python-version: ${{ fromJSON(inputs.test-python-versions) }}

  pre_release:
    if: (github.event_name != 'pull_request') && ((github.ref_name == 'main') || startsWith(github.ref_name, 'release/') || startsWith(github.ref_name, 'feature/'))
    needs: install-test
    runs-on: ubuntu-latest
    environment: pre_release
    steps:
      - name: Run Vjer pre_release
        if: ${{ !inputs.skip-pypi-test }}
        uses: arisilon/shared-actions/.github/actions/vjer@main
        with:
          action: pre_release
          enable-git-commit: ${{ secrets.RELEASE_TOKEN }}
          os: ubuntu-latest
          pypi_token: ${{ secrets.PYPI_TOKEN }}
          pyproject-build: true
          python-version: 3.12
          vjer-local: ${{ inputs.vjer-local }}
          vjer-version: ${{ inputs.vjer-version }}

  rc_release:
    if: (github.event_name != 'pull_request') && ((github.ref_name == 'main') || startsWith(github.ref_name, 'release/'))
    needs: pre_release
    runs-on: ubuntu-latest
    environment: rc_release
    steps:
      - name: Run Vjer rc_release
        uses: arisilon/shared-actions/.github/actions/vjer@main
        with:
          action: pre_release
          enable-git-commit: ${{ secrets.RELEASE_TOKEN }}
          os: ubuntu-latest
          pypi_token: ${{ secrets.PYPI_TOKEN }}
          pyproject-build: true
          python-version: 3.12
          vjer-local: ${{ inputs.vjer-local }}
          vjer-version: ${{ inputs.vjer-version }}
        env:
          VJER_CFG: vjer-rc.yml

  release:
    if: (github.event_name != 'pull_request') && ((github.ref_name == 'main') || startsWith(github.ref_name, 'release/'))
    needs: pre_release
    runs-on: ubuntu-latest
    environment: release
    steps:
      - name: Run Vjer release
        uses: arisilon/shared-actions/.github/actions/vjer@main
        with:
          action: release
          enable-git-commit: ${{ secrets.RELEASE_TOKEN }}
          os: ubuntu-latest
          pypi_token: ${{ secrets.PYPI_TOKEN }}
          pyproject-build: true
          python-version: 3.12
          vjer-local: ${{ inputs.vjer-local }}
          vjer-version: ${{ inputs.vjer-version }}
        env:
          GH_TOKEN: ${{ github.token }}

# cSpell:ignore pyproject
